.graphics {
  flex: 3;
  select {
    width: 200px;
    height: 28px;
    margin: 15px;
  }

  table {
    margin: 15px;
    border:none;
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
    overflow-x: scroll;
  }

  table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
  }

  table td:first-child {
    border-left: none;
  }

  table td:last-child {
    border-right: none;
  }
}