.tabs {
  flex: 1;
  margin: 10px auto;
  max-width: 500px;
  border: 1px solid;

  .causes_list {
    display: flex;
    flex-direction: column;

    input {
      margin: 5px;
      height: 25px;
    }

    .cause_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px;

      .cause_item_name{
        flex: 8;
      }

      .heart {
        flex: 1;
      }

      .is_favorite {
        //color: ;
      }
    }
  }

  .cause_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: #cccccc;
    }

    .cause_item_name{
      flex: 8;
    }

    .heart {
      flex: 1;
      cursor: pointer;
    }

  }

  .tab {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid;



    li {
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: 5px;
      background: #ccc;
    }

    li.selected {
      background: #898989;
      color: #FFFFFF;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
}